<div>
<p>This guide references the following extensions.</p>
<p>
<a href="StructureDefinition-AnatomicLocationExt.html">Anatomic Location Ext</a><br/>
<a href="StructureDefinition-AssociatedPreconditionExt.html">Associated Precondition Ext</a><br/>
<a href="StructureDefinition-BodyLandmarkDescriptionExt.html">Body Landmark Description Ext</a><br/>
<a href="StructureDefinition-BodyLandmarkOrientationExt.html">Body Landmark Orientation Ext</a><br/>
<a href="StructureDefinition-BodyLocationExt.html">Body Location Ext</a><br/>
<a href="StructureDefinition-BodyLocationOrientationExt.html">Body Location Orientation Ext</a><br/>
<a href="StructureDefinition-BodyLocationQualifierExt.html">Body Location Qualifier Ext</a><br/>
<a href="StructureDefinition-BodySideExt.html">Body Side Ext</a><br/>
<a href="StructureDefinition-ClockFacePositionExt.html">Clock Face Position Ext</a><br/>
<a href="StructureDefinition-DeviceExt.html">Device Ext</a><br/>
<a href="StructureDefinition-DistanceFromLandmarkExt.html">Distance From Landmark Ext</a><br/>
<a href="StructureDefinition-EpisodeExt.html">Episode Ext</a><br/>
<a href="StructureDefinition-EstimatedIndExt.html">Estimated Indicator Ext</a><br/>
<a href="StructureDefinition-PeriodicityExt.html">Periodicity Ext</a><br/>
<a href="StructureDefinition-PeriwoundConditionExt.html">Periwound Condition Ext</a><br/>
<a href="StructureDefinition-PresentOnAdmissionExt.html">Present On Admission Ext</a><br/>
<a href="StructureDefinition-PressureUlcerAssociationExt.html">Pressure Ulcer Association Ext</a><br/>
<a href="StructureDefinition-RecurrenceExt.html">Recurrence Ext</a><br/>
<a href="StructureDefinition-SurfaceOrientationExt.html">Surface Orientation Ext</a><br/>
<a href="StructureDefinition-TrendExt.html">Trend Ext</a><br/>
<a href="StructureDefinition-UnderlyingAnatomicalStructureExt.html">Underlying Anatomical Structure Ext</a><br/>
<a href="StructureDefinition-WoundAssessmentInterpretationExt.html">Wound Assessment Interpretation Ext</a><br/>
<a href="StructureDefinition-WoundGradationExt.html">Wound Gradation Ext</a><br/>
<a href="StructureDefinition-WoundImageExtension.html">Wound Image Ext</a><br/>
<a href="StructureDefinition-WoundInternalItemOrBodyStructureVisibleExt.html">Wound Internal Item Or Body Structure Visible Ext</a><br/>
<a href="StructureDefinition-WoundTypeEtiologyExt.html">Wound Type Etiology Ext</a><br/>
</p>
</div>
