<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="25%">Profile</th>
			  <th width="75%">Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="StructureDefinition-WoundAssert.html">Wound Assertion</a></td>
			  <td>An assertion of presence of a wound.  The profile contains all of the needed, qualifying data elements (as extensions) to fully document a wound.  This inlcudes a highly structured body location as well as a panel of observations that describe the wound such as Wound Size, Wound Tunelling, Wound Underming, Color descriptions, and more.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundRelatedObservationsPanel.html">Wound Related Observations Panel</a></td>
			  <td>A panel of observations that aid in describing and assessing a wound.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBed.html">Wound Bed</a></td>
			  <td>A description of the bed of the wound; its appearance, color, and edge.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBedAppearance.html">Wound Bed Appearance</a></td>
			  <td>A coded description of the wound bed.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBedColor.html">Wound Bed Color</a></td>
			  <td>A description of the color or colors of a wound bed.  Along with a percentage of the total wound bed for each observed color.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdge.html">Wound Edge</a></td>
			  <td>A grouping of observations of a wound edge, its color and appearance.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdgeColor.html">Wound Edge Color</a></td>
			  <td>A description of the color or colors of a wound edge, inlcuding the color's percentage of the whole wound edge.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdgeDescription.html">Wound Edge Description</a></td>
			  <td>A coded description of the wound edge appearance.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudate.html">Wound Exudate Assert</a></td>
			  <td>An assertion of the presence of the discharge of fluid from a wound, inlcuding a relative amount, exudate color, exudate odor, and a measurement of the volume of discharge.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundShape.html">Wound Shape</a></td>
			  <td>A coded description of the general shape of a wound.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundSize.html">Wound Size</a></td>
			  <td>A set of measurements of the wound; length, width, depth, area, volume, and qualitative wound area.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundTunneling.html">Wound Tunneling Assert</a></td>
			  <td>An assertion of the presence wound tunneling, inlcuding its direction and length.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundUndermining.html">Wound Undermining Assert</a></td>
			  <td>The assertion of the presence of wound undermining.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-NPUAPWoundGrade.html">NPUAP Wound Grade</a></td>
			  <td>The National Pressure Ulcer Advisory Panel pressure injury grading system</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-PEDISWoundGradeTotalScore.html">PEDIS Wound Grade Total Score</a></td>
			  <td>The PEDIS (perfusion, extent, depth, infection, and sensitivity) diabetic foot ulcer total scoring system.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-SINBADWoundGradeTotalScore.html">SINBAD Wound Grade Total Score</a></td>
			  <td>The SINBAD (site, ischemia, neuropathy, bacterial infection, and depth) diabetic foot ulcer total scoring system.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-UniversityOfTexasWoundGrade.html">University of Texas Wound Grade</a></td>
			  <td>The University of Texas diabetic foot ulcer grading system.</td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WagnerWoundGrade.html">Wagner Wound Grade</a></td>
			  <td>The Wagner diabetic foot ulcer grading system.</td>
			</tr>
		</tbody>
	</table>
</div>
