<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="25%">Profile</th>
			  <th width="75%">Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="StructureDefinition-WoundAssert.html">Wound Assertion</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBed.html">Wound Bed</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBedAppearance.html">Wound Bed Appearance</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundBedColor.html">Wound Bed Color</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdge.html">Wound Edge</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdgeColor.html">Wound Edge Color</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundEdgeDescription.html">Wound Edge Description</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateAmountDescription.html">Wound Exudate Amount Description</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateAppearance.html">Wound Exudate Appearance</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateAssert.html">Wound Exudate Assert</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateColor.html">Wound Exudate Color</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateOdor.html">Wound Exudate Odor</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundExudateVolume.html">Wound Exudate Volume</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundRelatedObservationsPanel.html">Wound Related Observations Panel</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundShape.html">Wound Shape</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundSize.html">Wound Size</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundTunnelingAssert.html">Wound Tunneling Assert</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundTunnelingDirection.html">Wound Tunneling Direction</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundTunnelingLength.html">Wound Tunneling Length</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundUnderminingAssert.html">Wound Undermining Assert</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundUnderminingDirection.html">Wound Undermining Direction</a></td>
			  <td></td>
			</tr>
			<tr>
			  <td><a href="StructureDefinition-WoundUnderminingLength.html">Wound Undermining Length</a></td>
			  <td></td>
			</tr>
		</tbody>
	</table>
</div>
