<div>
  <table class="grid">
    <thead>
      <tr>
		<th width="30%">Profile Name</th>
        <th width="10%">LOINC or SNOMED CT code</th>
        <th width="30%">LOINC Name and Comments Or SNOMED CT preferred name</th>
        <th width="5%">UCUM Unit Code (where applicable)</th>
		<th width="20%">Coments about mapping</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td><a href="StructureDefinition-WoundAssert.html"><b><i>Wound Assertion Profile</i></b></a></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Present on Admission extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/89251-3.html?sections=Comprehensive" target="_blank">89251-3</a></td>
        <td>Condition present on admission</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Pressure Ulcer Association extension</td>
		<td colspan="4">Currently there isn't a LOINC code to associate or map to this extension.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Wound Assessment Interpretation extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/64110-0.html?sections=Comprehensive" target="_blank">64110-0</a></td>
        <td>Interpretation</td>
		<td></td>
        <td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Episode estension</td>
        <td><a href="http://r.details.loinc.org/LOINC/89252-1.html?sections=Comprehensive" target="_blank">89252-1</a></td>
        <td>Episode of Wound</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Trend extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/89253-9.html?sections=Comprehensive" target="_blank">89253-9</a></td>
        <td>Trend</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Periwound Condition extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/72301-5.html?sections=Comprehensive" target="_blank">72301-5</a></td>
        <td>Description of Periwound</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Wound Type Etiology extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/11373-8.html?sections=Comprehensive" target="_blank">11373-8</a></td>
        <td>Injury cause</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Wound Image extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/72170-4.html?sections=Comprehensive" target="_blank">72170-4</a></td>
        <td>Photographic image</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Wound Internal Item or Body Structure Visible extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/89250-5.html?sections=Comprehensive" target="_blank">89250-5</a></td>
        <td>Device or anatomic structure visible in wound</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-WoundGradationPanel.html" target="_blank">&nbsp;&nbsp;&nbsp;<i>Wound Gradation extension</i></a></td>
		<td colspan="4">This is a reference to a choice of different observations that classify the grade of a wound.  LOINC mappings will be tied to the individual observations.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-NPUAPWoundGrade.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NPUAP Wound Grade</a></td>
		<td colspan="4">There isn't a LOINC code to associate this profile to, yet.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-PEDISWoundGradeTotalScore.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PEDIS Wound Grade Total Score</a></td>
		<td colspan="4">There isn't a LOINC code to associate this profile to, yet.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-SINBADWoundGradeTotalScore.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SINBAD Wound Grade Total Score</a></td>
		<td colspan="4">There isn't a LOINC code to associate this profile to, yet.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-UniversityOfTexasWoundGrade.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University of Texas Wound Grade</a></td>
		<td colspan="4">There isn't a LOINC code to associate this profile to, yet.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-WagnerWoundGrade.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wagner Wound Grade</a></td>
		<td colspan="4">There isn't a LOINC code to associate this profile to, yet.</td>
      </tr>
      <tr>
		<td><a href="StructureDefinition-WoundRelatedObservationsPanel.html" target="_blank">&nbsp;&nbsp;&nbsp;<i>Wound Related Observations Panel extension</i></a></td>
        <td><a href="http://r.details.loinc.org/LOINC/39135-9.html?sections=Comprehensive" target="_blank">39135-9</a></td>
        <td>Wound assessment panel</td>
        <td></td>
		<td>The items in this panel are part of the identified LOINC code.  However, not all of the items in the LOINC panel are represented in this extension.</td>
      </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundBed.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Bed</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/89254-7.html?sections=Comprehensive" target="_blank">89254-7</a></td>
		<td>Wound bed panel</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundBedAppearance.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Bed Appearance</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72371-8.html?sections=Comprehensive" target="_blank">72371-8</a></td>
		<td>Appearance of Wound base</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Bed Appearance Area component</td>
		<td><a href="http://r.details.loinc.org/LOINC/72370-0.html?sections=Comprehensive" target="_blank">72370-0</a></td>
		<td>Area of identified wound bed appearance/Area of wound bed of Wound base</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundBedColor.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Bed Color</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/39132-6.html?sections=Comprehensive" target="_blank">39132-6</a></td>
		<td>Color of Wound base</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Bed Color Area</td>
		<td><a href="http://r.details.loinc.org/LOINC/89256-2.html?sections=Comprehensive" target="_blank">89256-2</a></td>
		<td>Wound bed area identified by color/Area of wound bed</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundEdge.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Edge</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/89254-7.html?sections=Comprehensive" target="_blank">89254-7</a></td>
		<td>Wound edge panel</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundBedColor.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Edge Color</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/39133-4.html?sections=Comprehensive" target="_blank">39133-4</a></td>
		<td>Color of Wound edge</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundBedColor.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Edge Description</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/39133-4.html?sections=Comprehensive" target="_blank">72304-9</a></td>
		<td>Edge of wound description</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundTunnelingAssert.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Tunneling Assert</a></td>
		<td>239158009&nbsp;&nbsp;</td>
		<td>Tunneling wound</td>
		<td></td>
		<td>This ID is from the Solor extension of SNOMED CT</td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundTunnelingDirection.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Tunneling Direction extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72297-5.html?sections=Comprehensive" target="_blank">72297-5</a></td>
		<td>Tunneling clock position of Wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundTunnelingLength.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Tunneling Length extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72296-7.html?sections=Comprehensive" target="_blank">72296-7</a></td>
		<td>Tunneling [Length] of Wound</td>
		<td>cm</td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundUnderminingAssert.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Undermining Assert</a></td>
		<td><a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1=449752001&edition=MAIN/SNOMEDCT-US/2019-09-01&release=&languages=en" target="_blank">449752001</a></td>
		<td>Wound tissue undermining</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundUnderminingDirection.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Undermining Direction extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72294-2.html?sections=Comprehensive" target="_blank">72294-2</a></td>
		<td>Undermining clock position of Wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundUnderminingLength.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Undermining Length extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72293-4.html?sections=Comprehensive" target="_blank">72293-4</a></td>
		<td>Undermining [Length] of Wound</td>
		<td>cm</td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateAssert.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Assert</a></td>
		<td><a href="https://browser.ihtsdotools.org/?perspective=full&conceptId1=239164002&edition=MAIN/SNOMEDCT-US/2019-09-01&release=&languages=en" target="_blank">239164002</a></td>
		<td>Wound discharge</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateAmountDescription.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Amount Description extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/39116-9.html?sections=Comprehensive" target="_blank">39116-9</a></td>
		<td>Drainage amount of Wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateAppearance.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Appearance extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72290-0.html?sections=Comprehensive" target="_blank">72290-0</a></td>
		<td>Appearance of Exudate from wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateColor.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Color extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72289-2.html?sections=Comprehensive" target="_blank">72289-2</a></td>
		<td>Color of Exudate from wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateOdor.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Odor extension</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72288-4.html?sections=Comprehensive" target="_blank">72288-4</a></td>
		<td>Odor of Exudate from wound</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundExudateVolume.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Exudate Volume extension</a></td>
		<td colspan="2">No LOINC code to associate this to, yet.</td>
		<td>mL</td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundSize.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Size</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/72287-6.html?sections=Comprehensive" target="_blank">72287-6</a></td>
		<td>Wound size panel</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Length component</td>
		<td><a href="http://r.details.loinc.org/LOINC/39126-8.html?sections=Comprehensive" target="_blank">39126-8</a></td>
		<td>Length of Wound</td>
		<td>cm</td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Width component</td>
		<td><a href="http://r.details.loinc.org/LOINC/39125-0.html?sections=Comprehensive" target="_blank">39125-0</a></td>
		<td>Width of Wound</td>
		<td>cm</td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Depth component</td>
		<td><a href="http://r.details.loinc.org/LOINC/39127-6.html?sections=Comprehensive" target="_blank">39127-6</a></td>
		<td>Depth of Wound</td>
		<td>cm</td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Area component</td>
		<td><a href="http://r.details.loinc.org/LOINC/89260-4.html?sections=Comprehensive" target="_blank">89260-4</a></td>
		<td>Area of wound</td>
		<td>cm2</td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Volume component</td>
		<td colspan="2">No LOINC code to associate this to, yet.</td>
		<td>mL</td>
		<td></td>
	  </tr>
	  <tr>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Qualitative Wound Depth component</td>
		<td><a href="http://r.details.loinc.org/LOINC/39114-4.html?sections=Comprehensive" target="_blank">39114-4</a></td>
		<td>Depth of Wound - nominal</td>
		<td></td>
		<td></td>
	  </tr>
	  <tr>
		<td><a href="StructureDefinition-WoundShape.html" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Wound Shape</a></td>
		<td><a href="http://r.details.loinc.org/LOINC/94086-6.html?sections=Comprehensive" target="_blank">94086-6</a></td>
		<td>Wound Shape</td>
		<td></td>
		<td></td>
	  </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Body Location extension</td>
		<td colspan="4">The Body Location used here is a highly structured, complex extension.  Currently there is not a LOINC code that describes this structure.</td>
      </tr>
      <tr>
		<td>&nbsp;&nbsp;&nbsp;Recurrence extension</td>
		<td colspan="4">This is a two-part extension with a periodicity value and a episode value.  Neither have a LOINC code to associate them to.</td>
      </tr>
    </tbody>
  </table>
</div>
