<div>
  <table class="grid">
    <thead>
      <tr>
		<th width="13%">Profile Name</th>
        <th width="7%">LOINC or SNOMED CT code</th>
        <th width="60%">LOINC Name and Comments Or SNOMED CT preferred name</th>
        <th width="10%">UCUM Unit Code (where applicable)</th>
		<th width="10%">Coments about mapping</th>
      </tr>
    </thead>
    <tbody>
      <tr>
		<td><b><i>Wound Assertion Profile</i></b></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
		<td>Present on Admission extension&nbsp;&nbsp;</td>
        <td><a href="http://r.details.loinc.org/LOINC/89251-3.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;89251-3&nbsp;&nbsp;</a></td>
        <td>Condition present on admission</td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Pressure Ulcer Association extension&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
		<td>Currently there isn't a LOINC code to associate or map to this extension.</td>
      </tr>
      <tr>
		<td>Wound Assessment Interpretation extension&nbsp;&nbsp;</td>
        <td><a href="http://r.details.loinc.org/LOINC/64110-0.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;64110-0&nbsp;&nbsp;</a></td>
        <td></td>
		<td></td>
        <td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Episode estension&nbsp;&nbsp;</td>
        <td><a href="http://r.details.loinc.org/LOINC/89252-1.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;89252-1&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Trend extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/9253-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;9253-9&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Periwound Condition extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/72301-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;72301-5&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Wound Type Etiology extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/11373-8.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;11373-8&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Wound Image extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/72170-4.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;72170-4&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Wound Internal Item or Body Structure Visible extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/89250-5.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;89250-5&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>This is a mapping only.  Extension does not contain a definitional identifier.</td>
      </tr>
      <tr>
		<td>Wound Gradation extension</td>
        <td>This is a reference to a choice of different observations that classify the grade of a wound.  LOINC mappings are tied to the individual observations.</td>
        <td></td>
        <td></td>
		<td></td>
      </tr>
      <tr>
		<td>Wound Related Observations Panel extension</td>
        <td><a href="http://r.details.loinc.org/LOINC/39135-9.html?sections=Comprehensive" target="_blank">&nbsp;&nbsp;39135-9&nbsp;&nbsp;</a></td>
        <td></td>
        <td></td>
		<td>The items in this panel are part of the identified LOINC code.  However, not all of the items in the LOINC panel are represented in this extension.</td>
      </tr>
      <tr>
		<td>Body Location extension</td>
        <td></td>
        <td></td>
        <td></td>
		<td>The Body Location used here is a highly structured, complex extension.  Currently there is not a LOINC code that describes this structure.</td>
      </tr>
      <tr>
		<td>Recurrence extension</td>
        <td></td>
        <td></td>
        <td></td>
		<td>This is a two-part extension with a periodicity value and a episode value.  Neither have a LOINC code to associate them to.</td>
      </tr>
    </tbody>
  </table>
</div>
