<div>
	<h4>Wound Assert</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="20%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology system</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><b><i>Wound type value set bindings</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Condition.code <br> <i>CIMI Wound Type reference set</i></td>
			  <td>Wound Type reference set <br> Wound Type value set</td>
			  <td>201000205104 <br> 2.16.54.1.113883.1.11.20.2.6</td>
			  <td>SNOMED CT <i>Solor Extension</i> <br>VSAC</td>
			</tr>
			<tr>
			  <td>Condition.code <br> <i>Coded value: Pressure ulcer</i></td>
			  <td>Pressure ulcer (disorder)</td>
			  <td>399912005</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td><b><i>Wound Gradation extension bindings</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td><b>Wound Stage NPUAP extension bindings</b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Condition.woundGradationExt.woundGradationSystem.woundStageNPUAP <br> <i>Coded value: Stage IV</i></td>
			  <td>Catefory/Stage IV: Full Thickness tissue loss</td>
			  <td>LA19446-6</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td><b><i>Body Location extension bindings</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Condition.BodyLocationExt.AnatomicLocationExt <br> <i>Wound Anatomic Location refset</i></td>
			  <td>Wound Anatomic Location refset <br> Wound Anatomic Location value set</td>
			  <td>24191000205108 <br> 2.16.840.1.113762.1.4.1181.14</td>
			  <td>SNOMED CT <i>Solor extension</i> <br> VSAC</td>
			</tr>
			<tr>
			  <td>Condition.BodyLocationExt.AnatomicLocationExt <br> <i>Coded value: Coccyx</i></td>
			  <td>Entire skin of coccygeal region (body structure)</td>
			  <td>287274001</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td><b><i>Present on Admission Extension bindings</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Condition.PresentOnAdmissionExt <br> <i>Yes/No Reference Set</i></td>
			  <td>Yes/No reference set <br> Yes/No value set</td>
			  <td>361000205105 <br> 2.16.840.1.113762.1.4.1181.46</td>
			  <td>SNOMED CT <i>Solor extension</i> <br> VSAC</td>
			</tr>
			<tr>
			  <td>Condition.PresentOnAdmissionExt <br><i>Coded value: Yes</i></td>
			  <td>Yes</td>
			  <td>373066001</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td><b><i>Periwound Condition Extension bindings</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Condition.PeriwoundConditionext <br><i>Periwound Condition value set</i></td>
			  <td>Periwound condition refset <br> Periwound condition value set</td>
			  <td>91000205108 <br> 2.16.840.1.113762.1.4.1181.2</td>
			  <td>SNOMED CT <i>Solor extension</i> <br> VSAC</td>
			</tr>
			<tr>
			  <td>Condition.PeriwoundConditionext <br><i>Coded value: Boggy</i></td>
			  <td>Boggy periwound skin (finding)</td>
			  <td>449737008</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td><b><i>Wound Related Observations Panel</i></b></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td><b>Wound Size panel</b></td>
			  <td></td>
			  <td>72287-6</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>Condition.relalatedObservations.Size.width <br><i>Quantitative value: 3 cm</i></td>
			  <td>Width of wound <br> Centimeters</td>
			  <td>39125-0 <br> cm <br> 258672001</td>
			  <td>LOINC <br> UCUM <br> SNOMED CT</td>
			</tr>
			<tr>
			  <td>Condition.relalatedObservations.Size.length <br> <i>Quantitative value: 4 cm</i></td>
			  <td>Length of Wound <br> Centimeters</td>
			  <td>39126-8 <br> cm <br> 258672001</td>
			  <td>LOINC <br> UCUM <br> SNOMED CT</td>
			</tr>
			<tr>
			  <td>Condition.relalatedObservations.Size.depth <br> <i>Quantitative value: 3 cm</i></td>
			  <td>Depth of Wound <br> Centimeters</td>
			  <td>39127-6 <br> cm <br> 258672001</td>
			  <td>LOINC <br> UCUM <br> SNOMED CT</td>
			</tr>
			<tr>
			  <td><b>Wound Undermining Panel</b></td>
			  <td></td>
			  <td>8925-8</td>
			  <td>LOINC</td>
		    </tr>
			<tr>
			  <td>Condition.relalatedObservations.WoundUnderminingAssert.code</td>
			  <td>Wound tissue undermining (finding)</td>
			  <td>449752001</td>
			  <td>SNOMED CT</td>
			</tr>
		    <tr>
			  <td>Condition.relalatedObservations.WoundUnderminingAssert.length <br> <i>Quantitative value: 1 cm</i></td>
			  <td>Undermining [Length] of Wound <br> Centimeters</td>
			  <td>72293-4 <br> cm <br> 258672001</td>
			  <td>LOINC <br> UCUM <br> SNOMED CT</td>
			</tr>
			<tr>
			  <td>Condition.relalatedObservations.WoundUnderminingAssert.clockPosition <br><i>Clockface Position reference set</i></td>
			  <td>Undermining clock position of Wound <br> Clock Face Position Solor refset <i>doesnt exist yet</i></td>
			  <td>72294-2 <br><i>No Solor refset id yet</i></td>
			  <td>LOINC <br> Solor extension</td>
			</tr>
			<tr>
			  <td>Condition.relalatedObservations.WoundUnderminingAssert.clockPosition <br> <i>Coded value: 2 O’clock</i></td>
			  <td>2 o'clock position (qualifier value)</td>
			  <td>260328008</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
