<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="20%">VSAC OID</th>
			  <th width="20%">Solor SNOMED CT ID</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr>
			  <td>Anatomic location modifier refset</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.15/expansion/Latest">2.16.840.1.113762.1.4.1181.15</a></td>
			  <td>141000205107</td>
			  <td>This refset is an all inclusive list of spatial and laterality modifier terms from the qualifier value branch of SNOMED to be used in conjunction with Anatomic location terms for the purpose of describing the location of conditions such as wounds.</td>
			</tr> -->
			<tr>
			  <td><a href="ValueSet-bodyLandmarkDescriptionVS.html">Body Landmark Description value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes the refer to a body structure used as a reference point for other body locations.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bodyLocationOrientationVS.html">Body Location Orientation value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes used to identify the orientation of an identified body location.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bodyLocationQualifierVS.html">Body Location Qualifier value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes that add further qualifying data to a body location.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bodySideVS.html">Body Side Refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.30/expansion/Latest">2.16.840.1.113762.1.4.1181.30</a></td>
			  <td>191000205101</td>
			  <td>This reference set is used to document a position to the left, right, or bilateral of an object from a center reference point. Resulting LOINC code 20228-3 "Anatomic part Laterality"</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-clockFacePositionVS.html">Clock Face Position Value Set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes that describe a direction based on the face of a radial clock.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-NPUAPWoundGradeVS.html">National Pressure Ulcer Advisory Panel Pressure Injury Classification System value set</a></td>
			  <td colspan="2"><i>This is a temporary value set.  Solor extension SNOMED CT codes requested.</i></td>
			  <td>A set of codes for the NPUAP pressure injury grades.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-qualitativeWoundDepthVS.html">Qualitative Wound Depth value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes that describe the depth of a wound.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-recurrenceVS.html">Recurrence value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A seto of codes that describe how often an event re-occurs.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-surfaceOrientationVS.html">Surface Orientation value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes that describe where in reference to the skin surface (shallow, deep, etc.) a body location is.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-underlyingAnatomicalStructureVS.html">Underlying Anatomical Structure value set</a></td>
			  <td colspan="2"><i>No SNOMD CT or Solor refset ID</i></td>
			  <td>A set of codes that identify any body structure that is beneath an identified body location.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-UofTWoundGradeVS.html">University of Texas Diabetic Foot Ulcer Grade Classification System value set</a></td>
			  <td colspan="2"><i>This is a temporary value set.  Solor extension SNOMED CT codes requested.</i></td>
			  <td>A set of codes describing the diabetic foot ulcer grades developed by the University of Texas.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-UofTWoundGradeStageVS.html">University of Texas Diabetic Foot Ulcer Grade Stage Classification System value set</a></td>
			  <td colspan="2"><i>This is a temporary value set.  Solor extension SNOMED CT codes requested.</i></td>
			  <td>A set of codes describing the stages that can be ascribed to wound grades developed by the University of Texas.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-WagnerWoundGradeVS.html">Wagner Diabetic Foot Ulcer Classification System value set</a></td>
			  <td colspan="2"><i>This is a temporary value set.  Solor extension SNOMED CT codes requested.</i></td>
			  <td>A set of codes describing diabetic wound ulcer grades developed by the Wagner system.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-NPUAPWoundGradeVS.html">National Pressure Ulcer Advisory Panel pressure injury staging system</a></td>
			  <td colspan="2"><i>This is a temporary value set.  Solor extension SNOMED CT codes requested.</i></td>
			  <td>A set of codes that describe the stage for a pressure injury.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundExudateOdorVS.html">Exudate odor refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.13/expansion/Latest">2.16.840.1.113762.1.4.1181.13</a></td>
			  <td>341000205109</td>
			  <td>This refset is to record and retrieve data related to exudate odor.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-periwoundConditionVS.html">Periwound condition refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.2/expansion/Latest">2.16.840.1.113762.1.4.1181.2</a></td>
			  <td>91000205108</td>
			  <td>The purpose of this refset is to describe the skin surrounding the wound</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-presentAbsentVS.html">Presence absence refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.9/expansion/Latest">2.16.840.1.113762.1.4.1181.9</a></td>
			  <td>371000205102</td>
			  <td>This refset provides values for recording and retrieving information about the presence or absence of a clinical observation </td>
			</tr>
			<tr>
			  <td><a href="ValueSet-pressureUlcerAssociationVS.html">Pressure ulcer association refset</a></td>
			  <td><i>VSAC OID not create yet</i></td>
			  <td>611000205100</td>
			  <td>This reference set contains bony prominences (such as sacrum)  and medical devices (such as wheel chair) which may contribute to the cause of a pressure injury.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundAnatomicLocationVS.html">Wound anatomic location refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.14/expansion/Latest">2.16.840.1.113762.1.4.1181.14</a></td>
			  <td>551000205100</td>
			  <td>This refset provides a set of anatomic locations to be used in recording and retrieving data about the location(s) of a patient wound(s) associate with physical exam and other patient care.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundBedAppearanceVS.html">Wound bed appearance refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.6/expansion/Latest">2.16.840.1.113762.1.4.1181.6</a></td>
			  <td>121000205104</td>
			  <td>This refset provides values for recording and retrieving clinical observations obtained in examination of a wound bed or wound base.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundBedColorVS.html">Wound bed color refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.7/expansion/Latest">2.16.840.1.113762.1.4.1181.7</a></td>
			  <td>151000205105</td>
			  <td>The purpose of this refset is to document the colors within the base of the wound. The mobile app "Tissue Analytics" color and texture to determine color.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundEdgeDescriptionVS.html">Wound edge description refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.8/expansion/Latest">2.16.840.1.113762.1.4.1181.8</a></td>
			  <td>161000205108</td>
			  <td>This refset provides values for recording and retrieving descriptions of a wound edge.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-episodeVS.html">Wound episode refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.4/expansion/Latest">2.16.840.1.113762.1.4.1181.4</a></td>
			  <td>551000205100</td>
			  <td>This refset provides the values for documenting the period of the wound, an incident in the course of a wound.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundExudateAppearanceVS.html">Wound exudate appearance refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.11/expansion/Latest">2.16.840.1.113762.1.4.1181.11</a></td>
			  <td>181000205103</td>
			  <td>This refset provides values to describe the consistency of exudate that is present in a wound.  The values will be used for recording and retrieving the consistency of exudate.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundExudateColorVS.html">Wound exudate color refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.12/expansion/Latest">2.16.840.1.113762.1.4.1181.12</a></td>
			  <td>191000205101</td>
			  <td>The purpose of this RefSet is to describe the color of exudate that is present in a wound.  The values will be used in conjunction with the values from the Wound exudate amount ordinal refset and the Wound exudate appearance refset to document and retrieve values that describe wound exudate.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundExudateAmountDescriptionVS.html">Wound exudate qualitative amount refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.10/expansion/Latest">2.16.840.1.113762.1.4.1181.10</a></td>
			  <td>281000205105</td>
			  <td>Provide values for recording and retrieving clinical observations / findings / phenomena that come about from a clinician examining a patient with a wound.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundInternalItemOrBodyStructureVisibleVS.html">Wound internal item and/or body structure visible refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.1/expansion/Latest">2.16.840.1.113762.1.4.1181.1</a></td>
			  <td>111000205106</td>
			  <td>This reference set contains values for recording exposed body structures or devices visible in a wound.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundShapeVS.html">Wound Shape refset</a></td>
			  <td><i>VSAC OID not create yet</i></td>
			  <td>24511000205105</td>
			  <td>The purpose of this reference set is to characterize the outline of a wound. Referencing LOINC code XXX (requested).</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-trendVS.html">Wound trend refset</a></td>
			  <td><i>VSAC OID not create yet</i></td>
			  <td>561000205102</td>
			  <td>This refset provides values to document a measure of improvement or deterioration in wound healing.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundTypeEtiologyVS.html">Wound type etiology refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.3/expansion/Latest">2.16.840.1.113762.1.4.1181.3</a></td>
			  <td>521000205106</td>
			  <td>The purpose of this refset is to provide a limited set of causes for a wound.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-woundTypeVS.html">Wound type refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113883.1.11.20.2.6/expansion/Latest">2.16.840.1.113883.1.11.20.2.6</a></td>
			  <td>201000205104</td>
			  <td>The purpose of this Refset is to describe types of wounds and skin injuries.  Differentiating pressure ulcers and other types of wounds is important for an accurate count of their number and for identifying appropriate wound treatment.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-yesNoVS.html">Yes/No refset</a></td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.46/expansion/Latest">2.16.840.1.113762.1.4.1181.46</a></td>
			  <td>361000205105</td>
			  <td>A clinician wants to record a 'yes' or 'no' value; e.g. Wound associated with device – yes"</td>
			</tr>
		</tbody>
	</table>
</div>
